.footer {
  background: var(--background-dark);
  color: var(--text-light);
  padding: 60px 20px 30px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center; 
}


.footer-logo {
  width: 80px;
  margin-bottom: 12px;
}

.footer-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--text-light);
}

.footer-text {
  color: #c9c9c9;
  margin-bottom: 15px;
  line-height: 1.6;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--text-light);
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #c9c9c9;
  font-size: 15px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--text-light);
}

.footer-email {
  color: var(--text-light);
  text-decoration: underline;
  font-weight: 500;
}

.footer-email:hover {
  color: var(--primary) !important;
}

.footer-social {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.footer-social a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer-social a:hover {
  color: var(--primary);
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  color: #a2a2a2;
  padding-top: 20px;
  border-top: 1px solid #1f2a38;
  font-size: 14px;
}
