@import "./styles/colors.css";


/* ============================
   Global Reset + Color System
   ============================ */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0
}

body {
  font-family: Arial, sans-serif;
  background: var(--background);
  color: var(--text-dark);
  line-height: 1.5;
}

/* Global container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Links (global behavior) */
a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--text-dark);
}

/* Headings color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-dark);
}
